<div fxLayout="row" style="width: 700px; margin: 50px auto;" fxLayoutGap="20px">
    <mat-card class="card-comparison">
        <span style="font-size: 20px;">Trujillo</span>
        <a href="/" style="color: #FFCC80; text-decoration: underline;">cambiar</a>
        <mat-card-content fxLayout="row" style="margin-top: 20px;">
            <div fxFlex>
                <div style="font-size: 17px; color: green;">
                    <mat-icon class="material-icons">arrow_drop_up</mat-icon>
                    <span>120</span>
                </div>
                <div style="font-size: 17px; color: red;">
                    <mat-icon class="material-icons">arrow_drop_down</mat-icon>
                    <span>7503</span>
                </div>
            </div>
            <div fxFlex>
                <span style="font-size: 30px; color: white; background-color: red;">-7383</span>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-comparison">
        <span style="font-size: 20px;">Chimbote</span>
        <a href="/" style="color: #FFCC80; text-decoration: underline;">cambiar</a>
        <mat-card-content fxLayout="row" style="margin-top: 20px;">
            <div fxFlex>
                <div style="font-size: 17px; color: green;">
                    <mat-icon class="material-icons">arrow_drop_up</mat-icon>
                    <span>5034</span>
                </div>
                <div style="font-size: 17px; color: red;">
                    <mat-icon class="material-icons">arrow_drop_down</mat-icon>
                    <span>300</span>
                </div>
            </div>
            <div fxFlex>
                <span style="font-size: 30px; color: white; background-color: green;">+4670</span>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div style="width: 700px; margin: 0 auto;">
    <img src="assets/images/peru_heat.jpg" style="width: 100%;" />
</div>