
.comment-header {
    margin-bottom: 15px;
}

.avatar-user {
    margin-left: 7px;
    font-size: 13px;

    .name {
        color: rgba(0,0,0,.84);
        font-weight: 500;
    }

    .time-ago {
        margin-top: 3px;
        color: rgba(0,0,0,.54);
    }
}

.avatar-image {
    vertical-align: middle;
    border-radius: 100%;
    width: 36px;
    height: 36px;
}

.comment-content {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0;
    color: rgba(0,0,0,.84);
}