<mat-toolbar color="primary" [class.mat-elevation-z4]="true">
  <a routerLink="/">
    <mat-icon class="material-icons">location_city</mat-icon>
    <span>Ciudadanía PE</span>
  </a>

  <span class="fill-remaining-space"></span>

  <a mat-button (click)="someAction()">
    <mat-icon class="material-icons">location_on</mat-icon>
    <span>Trujillo</span>
  </a>
  <button mat-button class="uppercase">
    <mat-icon class="material-icons">account_circle</mat-icon>
    <span>Mi cuenta</span>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
