<div class="sub-container">
    <mat-card fxLayout="row" class="card-1">
        <div mat-card-avatar class="governor-image"></div>
        <div fxFlex>
            <mat-card-title>
                Elidio Espinoza
            </mat-card-title>
            <mat-card-subtitle>
                Gobernador Provincial de Trujillo 2015-2018
            </mat-card-subtitle>
        </div>
        <div style="margin-right: 50px;">
            <app-vote-buttons [idGovernor]='5' [idUser]='user?.idUser'></app-vote-buttons>
        </div>
    </mat-card>

    <mat-card fxLayout="row" style="margin-top: 20px;" class="card-1">
            <div mat-card-avatar class="institution-image"></div>
            <div fxFlex>
                <mat-card-title>
                    Municipalidad Provincial de Trujillo
                </mat-card-title>
                <mat-card-subtitle>
                    <mat-icon class="material-icons">place</mat-icon>
                    <span>Av. España 566, Trujillo, Perú</span>
                </mat-card-subtitle>
            </div>
        </mat-card>
</div>

<div class="tabs-container">
    <nav mat-tab-nav-bar>
        <a mat-tab-link
            *ngFor="let link of routeLinks"
            [routerLink]="link.path"
            routerLinkActive
            #rla="routerLinkActive"
            [active]="rla.isActive">
            {{ link.label }}
        </a>
    </nav>
    
    <router-outlet></router-outlet>

</div>